<div class="row">
	<div class="col-md-6">
		<a href="#" routerLink="/" class="btn btn-link"><i class="fa fa-arrow-circle-o-left">Back To Dashboard</i></a>
	</div>

	<div class="col-md-6">

	</div>
</div>

<div class="card">
	<div class="card-header">

	</div>

	<div class="card-block">
		<form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
			<div class="form-group">
				<label for="firstName">First Name</label>
				<input type="text"
					class="form-control"
					[(ngModel)]="client.firstName"
					name="firstName"
					#clientFirstName="ngModel"
					minlength="2"
					required />

				<div class="alert alert-danger" *ngIf="clientFirstName.errors?.required && clientFirstName.touched">
					First Name Is Required
				</div>

				<div class="alert alert-danger" *ngIf="clientFirstName.errors?.minlength && clientFirstName.touched">
					Must be 2 characters.
				</div>

			</div>

			<!-- Last Name -->
			<div class="form-group">
				<label for="lastName">Last Name</label>
				<input type="text"
					class="form-control"
					[(ngModel)]="client.lastName"
					name="lastName"
					#clientLastName="ngModel"
					minlength="2"
					required />

				<div class="alert alert-danger" *ngIf="clientLastName.errors?.required && clientLastName.touched">
					Last Name Is Required
				</div>

				<div class="alert alert-danger" *ngIf="clientLastName.errors?.minlength && clientLastName.touched">
					Must be 2 characters.
				</div>

			</div>

			<!-- Email -->

			<div class="form-group">
				<label for="email">Email</label>
				<input type="text"
					class="form-control"
					[(ngModel)]="client.email"
					name="email"
					#clientEmail="ngModel"
					minlength="2"
					required />

				<div class="alert alert-danger" *ngIf="clientEmail.errors?.required && clientEmail.touched">
					Email Is Required
				</div>
			</div>



			<!-- Phone -->

			<div class="form-group">
				<label for="phone">Phone</label>
				<input type="text"
					class="form-control"
					[(ngModel)]="client.phone"
					name="phone"
					#clientPhone="ngModel"
					minlength="10"
					required />
			</div>



			<!-- Balance -->

			<div class="form-group">
				<label for="balance">Balance</label>
				<input type="number"
					class="form-control"
					[(ngModel)]="client.balance"
					name="balance"
					#clientBalance="ngModel"
					[disabled]="disableBalanceOnAdd" />
			</div>

			<!-- Submit -->
			<input type="submit" class="btn btn-primary btn-block" value="Submit" />
		</form>
	</div>
</div>